<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>KTÜ CHATAPP</title>

    <body bgcolor="#f0dee1">
        
    <center> 
    <h1>CHAT APP</h1>

    <p style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">
    <font color="blue"> 
         Enjoy the experience of meeting different friends !
    </font>
    </p>
    </center>
    <script type="text/javascript" charset="utf-8">
    </script>
</head>
<body>
    <center>
    Goin a room:
    <ul>
         <p>🚪</p>
        {% for room in rooms %}
        <li><a href="/{{room}}/{{uid}}">{{room}}</a></li>
        {% endfor %}

    </ul>
</center>
</body>
</html>